@import url('https://fonts.googleapis.com/css?family=Mina');

* {
    font-family: "Mina", sans-serif;
}

html,body{
    height:100%;
    margin:0;
}

#rubriques{
    color:white;
    margin:0;
    padding:50px;
    display:flex;
    flex-direction:row;
    justify-content:center;
    align-items:center;
    position:fixed;
    top:0;
    margin:auto;
    padding:20px;
    width:100%;
    background-color: black;
    border: black;
}

#rubriques button{
    color:white;
    background-color: black;
    border:none;
    font-size: 20px;
    margin-left:80px
}

#rubriques button:hover{
    background-color:black;
    color:rgba(255, 255, 255, 0.5);
}

#home{
    background-image: url("img/cafe.jpg");
    height:100%;
    background-size: cover;
    background-repeat:no-repeat;
    background-attachment: fixed;
    background-position:center;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    position:relative
}

#home h1{
    margin:0;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.5);
    font-size: 50px;
    border-radius: 20px / 20px;
    padding:20px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    color:black;
    text-decoration:none;
} 

#home img{
    width: 40px;
    height: 40px;
    position:absolute;
    bottom:10px;
    margin:auto;
}

a{
    color:black;
    text-decoration:none;
}

#home h1:hover{
    background-color:rgba(150,150,150,0.5);
    color:white;
}

h2{
    margin:0;
}


section{
    margin:0;
    background-color:rgb(120, 133, 140);
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    align-items:flex-start;
    justify-content:flex-start;
    min-height: 10px;
}

article{
    display:flex;
    flex-direction:column;
    width: 150px;
    margin:60px;
    padding:100px 100px;
    color:white;
    background-color:white;
    border: solid;
    border-width: 1px;
    border-color: black;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    font-size:large;
}

article:hover{
    filter: grayscale(100%);
    transition: all 0.3s ease-in-out;
}

#About{
    background-image: url("img/about.jpg");
    background-size: cover;
    background-position:center;
}

#Article2{
    background-image: url("img/coffee.jpg");
    background-size: cover;
    background-position:center;
}

#Article3{
    background-image: url("img/shop.jpg");
    background-size: cover;
    background-position:center;
}

#Article4{
    background-image: url("img/food.jpg");
    background-size: cover;
    background-position:center;
}

#Article5{
    background-image: url("img/velo.jpeg");
    background-size: cover;
    background-position:center;
}


#Article6{
    background-image: url("img/foodies.jpeg");
    background-size: cover;
    background-position:center;
}

footer{
    background-image: url("img/end.jpg");
    height:50%;
    background-size: cover;
    background-repeat:no-repeat;
    background-attachment: fixed;
    background-position:center;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
}

footer h1{
    margin:0;
    text-align: center;
    background-color: rgba(3, 3, 3, 0.3);
    color:white;
    font-size: 30px;
    border: solid;
    border-width: 1px;
    border-color: white;
    padding:30px;
}