@import url('https://fonts.googleapis.com/css?family=Mina');

* {
    font-family: "Mina", sans-serif;
}

img {
    max-width:30%;
    margin: 50px;
    display:flex;
    flex-direction:row;
    justify-content: flex-start;
}

h1 {
    color:#4b6180;
    text-align:center;
    font-size: 80px;
}

article {
    display: flex;
    flex-direction: row;  
    justify-content: flex-start;
    align-items: center;
    color:black;
}

#formulaire {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    margin:20px;
}
