#carrousel img{
    max-width: 30%;;
}

#carrousel {
    position: relative; 
    margin: 0;
    padding: 0;
    font-size: 0;
    text-align: left;
}

figure img { width: 20%; height: auto; float: left; }

@keyframes slidy {
    100% { left: -400%; }
}

figure {
    position: relative;
    width: 100%;
    margin: 50px;
    padding: 0;
    font-size: 0;
    left: 0;
    text-align: left;
    animation: 40s slidy infinite;
}

#slides {
    margin:20%;
    background-image: url("../img/cafe.jpg");
    background-size: 60px;
    background-repeat:no-repeat;
    background-attachment: fixed;
    background-position:center;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
}

.arrow {
    color: black;
    size: 80%;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    align-items:center;
    justify-content: space-between;
}

.arrow:hover{
    font-size: 40px;
    transition: all 3s ease;
}